/*---------------------------------------------------------------
>>> TABLE OF CONTENTS:
---------------------------------------------------------------*/

/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/

#wrapper {
    overflow-x: hidden;
}

ul,
ol {
    padding: 0;
    margin-bottom: 0;
}

.post ul {
    padding-left: 1.3em;
}

ol {
    margin-left: 1.3em;
}

address {
    margin-bottom: 0;
}

img {
    height: auto;
    max-width: 100%;
}

.center-block {
    float: none;
}


/*---------- Heading ----------*/

h1 {
    font-size: 55px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-size: 35px;
    font-weight: 700;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
    color: #282828;
    font-weight: 300;
}

span {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
pre,
#calendar_wrap caption,
    {
    word-break: break-word;
    word-wrap: break-word;
}

/*---------- Form ---------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background: #e31d1a;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    padding: 8px 15px;
    border: 1px solid #e31d1a;
    transition: all 0.3s ease-in-out 0s;
    text-transform: capitalize;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    width: 140px;
    height: 45px;
    border-radius: 4px;
    letter-spacing: 1px;
    cursor: pointer;
}

button:hover,
button:focus,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    background: #fff;
    border: 1px solid #e31d1a;
    color: #e31d1a;
}

.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline: 0;
}

input[type="text"] {
    text-transform: capitalize;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea,
.form-control {
    border: 1px solid #939191;
    color: #020201;
    padding: 10px 15px;
    width: 100%;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    margin-bottom: 15px;
    background: transparent;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"] {
    height: 37px;
    line-height: 12px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
    outline: 0;
    border-color: #e31d1a;
    box-shadow: none;
}

textarea {
    height: 180px;
    background: transparent;
    resize: none;
}

textarea.form-control:focus {
    box-shadow: none;
    border-color: #e31d1a;
}

.form-control::-moz-placeholder {
    color: #999999 !important;
    opacity: 1;
    vertical-align: middle;
}

.form-control::-webkit-input-placeholder {
    color: #999999 !important;
    opacity: 1;
    vertical-align: middle;
}

/*---------- 2.1.3 Links ----------*/

a {
    transition: all 0.5s ease 0s;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
}

a:hover,
a:active,
a:focus {
    outline: 0;
    text-decoration: none;
    color: #e31d1a;
}

/*---------- 2.2 Table -----------*/

table,
th,
td {
    border: 1px solid #eaeaea;
}

table {
    width: 100%;
}

th,
td {
    padding: 0.4375em;
}

table,
dd,
address {
    margin: 0 0 1.75em;
}

/*----- Custom Classes -----*/

.j-content {
    justify-content: space-between;
}

.align-center {
    align-self: center;
}

.no-pad {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.center-block {
    float: none;
    margin: 0 auto;
}


/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/

/*----- Header-Top -----*/

.header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    z-index: 999;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.top_space {
    float: left;
    height: 0;
    position: relative;
    top: -150px;
    vertical-align: top;
}

.header-wrapper .logo-wrap a {
    padding: 22px 0;
}

.header-menu .primary-menu .main-menu > li > a {
    display: inline-block;
    text-transform: capitalize;
    color: #020201;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 178px;
    color: #000000;
}

.header-menu .primary-menu .main-menu > li.current-menu-item > a,
.header-menu .primary-menu .main-menu > li.current-menu-parent > a,
.header-wrapper .main-menu > li:hover > a {
    transition: all 0.5s ease-in-out 0s;
}

.header-menu .primary-menu .main-menu > li.menu-item > a.active {
    color: #e31d1a;
}

.header-menu .primary-menu > ul > li {
    position: relative;
    display: inline-block;
    margin: 0 25px;
}

.header-menu .primary-menu > ul > li:last-child {
    margin-right: 0px;
}

/*---------------------------------------------------------------
4.0 Banner
---------------------------------------------------------------*/

.banner-wrapper .carousel-inner,
.banner-wrapper .carousel,
.banner-wrapper .item,
.banner-wrapper .col-sm-12,
.banner-wrapper .container,
.banner-wrapper .row {
    height: 100%;
}

.banner-wrapper {
    height: 814px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-wrapper .carousel.slide {
    position: relative;
}

.banner-wrapper .carousel-inner .carousel-item {
    background-position: center center !important;
    background-size: cover !important;
    height: 100%;
}

.banner-wrapper .banner_caption {
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
}

.banner-wrapper .banner_caption h1 {
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 76.53px;
}

.banner-wrapper .banner_caption span {
    color: #ffffff;
    font-size: 31.68px;
    font-weight: 300;
    margin-bottom: 45px;
}

.banner-wrapper .banner_caption .read-more {
    background: #e31d1a;
    color: #ffffff;
    font-size: 20px;
    height: 67px;
    padding: 18px;
    width: 272px;
    border: 1px solid #e31d1a;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.banner-wrapper .banner_caption .read-more:hover {
    background: #ffffff;
    color: #e31d1a;
}

/*---------------------------------------------------------------
5.0 Custom
---------------------------------------------------------------*/

/*----- section Title -----*/

.section-title h2 {
    font-size: 47px;
    color: #000000;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

.section-title h2::after {
    background: #e31d1a;
    content: "";
    height: 2px;
    width: 50px;
    display: block;
    position: absolute;
    bottom: -5px;
}

/*----- Our Service Scetion -----*/

.our-service-wrap {
    background-position: center !important;
    background-size: cover !important;
    padding: 70px 0 0;
}

.our-service-wrap .section-title {
    margin-bottom: 40px;
}

.our-service-wrap .tab-content h3 {
    color: #060709;
    font-size: 34.4px;
    font-weight: 500;
    margin-bottom: 20px;
}

.our-service-wrap .tab-content p {
    margin-bottom: 20px;
}

.service-content-wrap {
    height: 453px;
    position: relative;
}

.service-content-wrap .nav-tabs {
    display: block;
    position: relative;
    border: none;
}

.service-content-wrap .nav-tabs .nav-item a {
    border: 2px solid #5b967e;
    border-radius: 100%;
    display: inline-block;
    height: 100px;
    left: 45%;
    position: absolute;
    top: 48px;
    width: 100px;
    text-align: center;
    padding: 22px;
    background: #ffffff;
}

.service-content-wrap .nav-tabs .nav-item a svg {
    fill: #929090;
}

.service-content-wrap .nav-tabs .nav-item {
    margin-bottom: inherit;
}

.service-content-wrap .nav-tabs .nav-item a.active {
    border-color: #ffffff;
    box-shadow: 0 0 0 3px #e31d1a;
    top: 42px;
}

.service-content-wrap .nav-tabs .nav-item a.active svg {
    fill: #ffffff;
}

.service-content-wrap .nav-tabs .nav-item:nth-child(2) a {
    left: 240px;
    right: inherit;
    top: 313px;
}

.service-content-wrap .nav-tabs .nav-item:nth-child(2) a.active {
    left: 236px;
    top: 284px;
}

.service-content-wrap .nav-tabs .nav-item:nth-child(3) a {
    left: 382px;
    right: inherit;
    top: 130px;
}

.service-content-wrap .nav-tabs .nav-item:nth-child(3) a.active {
    left: 370px;
    top: 124px;
}

.service-content-wrap .nav-tabs .nav-item:nth-child(4) a {
    left: auto;
    right: 396px;
    top: 132px;
}

.service-content-wrap .nav-tabs .nav-item:nth-child(5) a {
    left: inherit;
    right: 252px;
    top: 300px;
}

.service-content-wrap .nav-tabs .nav-item .active {
    background: #e31d1a;
    width: 120px;
    height: 120px;
}

.service-content-wrap .tab-content {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 70%;
    transform: translateY(-50%);
    width: 37%;
}

.service-content-wrap .tab-content ul li {
    list-style: none;
    text-align: left;
}

.service-content-wrap .tab-content ul li p::before {
    content: "\f046";
    font-family: FontAwesome;
    color: #e31d1a;
    margin-right: 10px;
}

.service-content-wrap .tab-content ul {
    margin-left: 150px;
}

/*----- About Us Section -----*/

.about-us-wrap {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    padding: 117px 0;
}

.about-sec-wrap {
    padding-left: 90px;
}

.about-us-wrap .section-title {
    margin-bottom: 92px;
}

.about-content-wrap h3 {
    font-size: 35px;
    font-weight: 500;
    color: #060709;
    margin-bottom: 15px;
}

.about-content-wrap p {
    font-size: 15px;
}

.about-content-wrap .explore-more:hover {
    color: #000000;
}

/*----- What We Do Section -----*/

.what-we-do-wrap {
    padding: 100px 0 52px;
}

.what-we-do-wrap .section-title {
    margin-bottom: 44px;
}

.what-we-do-wrap .section-title h2::after,
.team-grid-wrapper .section-title h2::after,
.contactus-wrapper .section-title h2::after,
.our-service-wrap .section-title h2::after {
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 60px;
}

.what-we-content-wrap p {
    color: #282828;
    font-weight: 400;
}

.what-we-content-wrap p:first-child {
    margin-bottom: 30px;
}

.what-we-content-wrap p:nth-child(2) {
    line-height: 25px;
    text-transform: uppercase;
    width: 91%;
    text-align: center;
    margin: 0 auto 50px;
}

.what-we-content-wrap p.content {
    margin: 0 auto;
    text-align: center;
    width: 63%;
}

.what-we-content-wrap p.content span {
    font-weight: 700;
}

.what-we-content-wrap .grid-section .grid-sec {
    width: 490px;
    height: 388px;
}

.what-we-content-wrap .grid-section .grid-sec.one {
    background: #cacaca;
}

.what-we-content-wrap .grid-section .grid-sec.two {
    background: #bababa;
}

.what-we-content-wrap .grid-section .grid-sec.three {
    background: #adadad;
}

.what-we-content-wrap .grid-section {
    margin-bottom: 60px;
}

.what-we-content-wrap .grid-section .icon-sec {
    margin-bottom: 40px;
}

.what-we-content-wrap .grid-sec::before,
.team-content-section .overlay-content::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.what-we-content-wrap .grid-sec h3,
.what-we-content-wrap .grid-sec h3 a {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.what-we-content-wrap .grid-sec h3 a:hover {
    color: #e31d1a;
}

.overlay-holder {
    display: inline-block;
    height: auto;
    padding: 10px;
    vertical-align: middle;
    width: 97%;
}

/*----- Subscribe Now Section -----*/

.subscribe-sec-wrap {
    padding: 55px 0;
    background-size: cover !important;
    background-position: center !important;
}

.subscribe-sec-wrap .section-title h4 {
    color: #fefefe;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.subscribe-sec-wrap .section-title h4 span {
    background: #e31d1a none repeat scroll 0 0;
    padding-right: 20px;
    position: relative;
    z-index: 1;
}

.subscribe-sec-wrap .section-title h4::after {
    background: #ffffff none repeat scroll 0 0;
    content: "";
    display: inline-block;
    height: 1px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%;
    z-index: 0;
}

.subscribe-sec-wrap form .form-group {
    width: 37.5%;
    float: left;
    margin-bottom: 0;
    margin-right: 1%;
}

.subscribe-sec-wrap form .form-group:last-child {
    width: 23%;
    margin-right: 0;
}

.subscribe-sec-wrap form .form-group button {
    width: 100%;
    height: 70px;
    background: #ffffff;
    border-radius: 0;
    color: #e31d1a;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid #e31d1a;
}

.subscribe-sec-wrap form .form-group button:hover {
    background: transparent;
    color: #ffffff;
    border-color: #ffffff;
}

.subscribe-sec-wrap form .form-control {
    height: 70px;
    margin-bottom: 0;
    border-radius: 0;
    border-color: #ffffff;
    color: #ffffff;
}

.subscribe-sec-wrap form .form-control:focus {
    background: transparent;
}

.subscribe-sec-wrap form .form-control::-moz-placeholder {
    color: #ffffff !important;
}

.subscribe-sec-wrap form .form-control::-webkit-input-placeholder {
    color: #ffffff !important;
}

.subscribe-sec-wrap .container,
.our-network-wrap .container {
    margin: 0 auto;
    width: 68%;
}

/*----- Our Network Section -----*/

.our-network-wrap {
    background: #f9f9f9;
    padding: 75px 0;
}

.our-network-wrap .section-title {
    margin-bottom: 70px;
}

.our-network-wrap .team-img {
    float: left;
    margin-right: 40px;
    width: 30%;
}

.our-network-wrap .team-content {
    float: left;
    width: 60%;
}

.our-network-wrap .team-content h3 {
    color: #060709;
    font-weight: 500;
    letter-spacing: 1px;
}

.our-network-wrap .team-content h5 {
    color: #060709;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 26px;
    font-size: 18px;
}

/*----- Team Grid Section -----*/

.team-grid-wrapper {
    padding: 70px 0;
}

.team-grid-wrapper .section-title h2 {
    margin-bottom: 22px;
}

.team-grid-wrapper .team-content-section {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 50px;
}

.team-content-section .team-grid-sec .team-grid {
    float: left;
    margin-right: 30px;
    width: 18.1%;
}

.team-content-section .team-grid-sec .team-grid:last-child {
    margin-right: 0;
}

.team-content-section .member-img {
    position: relative;
    cursor: pointer;
}

.team-content-section .member-img img {
    width: 100%;
}

.team-content-section .member-img .overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99
}

.team-grid-wrapper h6,
.team-detail-sec h6 {
    color: #000000;
    font-size: 17px;
    font-weight: 500;
    height: 40px;
    letter-spacing: 1px;
    margin-top: 20px;
    text-transform: uppercase;
}

.team-detail-sec h6 {
    height: inherit;
}

.team-grid-wrapper span {
    color: #838383;
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 10px;
    display: block;
    margin-bottom: 20px;
}

.team-grid-wrapper .overlay-content {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.team-grid-wrapper .member-img .overlay-content {
    transition: all 0.3s ease-in-out 0s;
}

.team-grid-wrapper .member-img:hover .overlay-content {
    opacity: 1;
}

.team-grid-wrapper .overlay-content a {
    background: #e31d1a;
    border-radius: 100%;
    color: #ffffff;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    padding: 10px;
    width: 50px;
}

/*----- Team Detail -----*/

.team-detail-sec .member-title {
    margin-bottom: 20px;
}

.popup .modal-header .close {
    padding: 12px 25px;
    height: inherit;
    width: inherit;
    font-size: 30px;
    border: none;
}

.popup .modal-header .close:hover,
.popup .modal-header .close:focus {
    border: none;
    color: #e31d1a;
    opacity: 1;
}

.popup .modal-dialog {
    max-width: 900px;
}

.alignleft {
    float: left;
    margin: 0.375em 1.75em 1.75em 0;
}

.max-wid-50 {
    max-width: 50%;
}

/*----- Contactus Section -----*/

.contactus-wrapper {
    background: #f9f9f9;
    padding: 70px 0;
}

.contactus-wrapper .section-title {
    margin-bottom: 25px;
}

.contactus-wrapper .contact-information h5 {
    color: #282828;
    font-weight: 600;
    margin-bottom: 16px;
}

.contactus-wrapper .contact-form p {
    margin-bottom: 20px;
}

.contactus-wrapper .contact-information p {
    margin-bottom: 25px;
}

.contactus-wrapper .contact-information span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.contactus-wrapper .contact-information svg path {
    fill: #e31d1a;
}

.contactus-wrapper .contact-information .contact-sec {
    margin-bottom: 15px;
}

.contactus-wrapper .contact-information .contact-info {
    margin-bottom: 40px;
}

.contactus-wrapper .contact-information a,
.contactus-wrapper .contact-information span {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    color: #282828;
    font-weight: 300;
}

.contactus-wrapper .contact-information a:hover {
    color: #e31d1a;
}

.contactus-wrapper .contact-information svg {
    height: 25px;
    width: 22px;
}

.contactus-wrapper .social-share li {
    margin-right: 9px;
}

.contactus-wrapper .social-share li:hover a {
    color: #ffffff;
    background: #e31d1a;
}

.contactus-wrapper .social-share li a {
    color: #535353;
    width: 35px;
    height: 35px;
    border: 1px solid #e31d1a;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
}

.contactus-wrapper .contact-form {
    border: 1px solid #f0f0f0;
    padding: 31px 35px 35px;
    border-radius: 5px;
}

.contactus-wrapper .contactus-wrap {
    margin: 0 auto;
    width: 80%;
}

.contactus-wrapper .contact-information {
    padding: 70px 0;
}

/*---------------------------------------------------------------
6.0 Footer
---------------------------------------------------------------*/

.footer-wrapper {
    background: #000000;
    padding: 30px 0;
    overflow: hidden;
}

.footer-wrapper span {
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
}

.footer-wrapper span a {
    color: #34acdf;
}

.footer-wrapper span a:hover {
    color: #ffffff;
}

/*---------------------------------------------------------------
5.0 Responsive
---------------------------------------------------------------*/

@media only screen and (min-width: 1500px) {
    .container {
        max-width: 1470px;
    }
}

@media only screen and (max-width:1499px) and (min-width: 1200px) {

    /*----- Header Section -----*/
    .header-wrapper .logo-wrap a {
        padding: 10px 0;
    }
    .header-menu .primary-menu .main-menu > li > a {
        line-height: 130px;
    }
    .logo-wrap.align-center img {
        height: 100px;
    }
    .header-menu .primary-menu .main-menu > li > a {
        font-size: 14px;
    }
    .header-menu .primary-menu > ul > li {
        margin: 0 18px;
    }
    .top_space {
        top: -100px;
    }

    /*----- Banner Section -----*/
    .banner-wrapper {
        height: 620px;
    }
    .banner-wrapper .banner_caption h1 {
        font-size: 52.53px;
    }
    .banner-wrapper .banner_caption span {
        font-size: 25.68px;
    }
    .banner-wrapper .banner_caption .read-more {
        font-size: 16px;
        height: 60px;
        padding: 17px;
        width: 240px;
    }

    /*----- About Us Section -----*/
    .section-title h2 {
        font-size: 32px;
    }
    .about-us-wrap .section-title {
        margin-bottom: 55px;
    }
    .about-sec-wrap {
        padding-left: 70px;
    }
    .about-content-wrap h3 {
        font-size: 26px;
    }
    .our-service-wrap .tab-content p {
        margin-bottom: 10px;
    }

    /*----- What We Do Section -----*/
    .what-we-content-wrap .grid-section .grid-sec {
        width: 380px;
    }
    .what-we-content-wrap .grid-sec h3,
    .what-we-content-wrap .grid-sec h3 a {
        font-size: 22px;
    }
    .what-we-content-wrap p.content {
        width: 80%;
    }
    .what-we-do-wrap,
    .our-network-wrap {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    /*----- Subscribe Section -----*/
    .subscribe-sec-wrap .container,
    .our-network-wrap .container {
        width: 70%;
    }
    .subscribe-sec-wrap .section-title h4 {
        font-size: 22px;
    }
    .subscribe-sec-wrap .section-title h4 span::after {
        top: 14px;
    }
    .subscribe-sec-wrap form .form-control {
        height: 55px;
    }
    .subscribe-sec-wrap form .form-group button {
        font-size: 16px;
        height: 55px;
    }

    /*----- Our Network Section -----*/
    .our-network-wrap .team-content {
        width: 65%;
    }
    .our-network-wrap .team-content h3 {
        font-size: 25px;
    }
    .our-network-wrap .team-content h5 {
        margin-bottom: 20px;
        font-size: 15px;
    }
    p {
        font-size: 13px;
    }

    /*----- Team Grid Section -----*/
    .team-content-section .team-grid-sec .team-grid {
        margin-right: 26px;
        width: 17.9%;
    }
    .team-grid-wrapper h6 {
        font-size: 14px;
        height: 35px;
    }

    /*----- Services Section -----*/
    .our-service-wrap {
        padding: 55px 0 30px;
    }
    .service-content-wrap {
        height: 305px;
    }
    .service-content-wrap .tab-content ul {
        margin-left: 75px;
    }
    .service-content-wrap .tab-content ul li p {
        margin-bottom: 0;
    }
    .our-service-wrap .tab-content h3 {
        font-size: 22px;
        margin-bottom: 6px;
    }
    .service-content-wrap .nav-tabs .nav-item a {
        height: 85px;
        padding: 15px;
        width: 85px;
        top: 18px;
    }
    .service-content-wrap .nav-tabs .nav-item .active {
        height: 93px;
        width: 93px;
        top: 10px !important;
    }
    .service-content-wrap .nav-tabs .nav-item:nth-child(2) a {
        left: 165px;
        top: 208px;
    }
    .service-content-wrap .nav-tabs .nav-item:nth-child(2) a.active {
        left: 164px;
        top: 195px !important;
    }
    .service-content-wrap .nav-tabs .nav-item:nth-child(3) a {
        left: 295px;
        top: 75px;
    }
    .service-content-wrap .nav-tabs .nav-item:nth-child(3) a.active {
        left: 292px;
        top: 72px !important;
    }
    .service-content-wrap .nav-tabs .nav-item:nth-child(4) a {
        right: 307px;
        top: 75px;
    }
    .service-content-wrap .nav-tabs .nav-item:nth-child(4) a.active {
        right: 300px;
        top: 65px !important;
    }
    .service-content-wrap .nav-tabs .nav-item:nth-child(5) a {
        right: 168px;
        top: 210px;
    }
    .service-content-wrap .nav-tabs .nav-item:nth-child(5) a.active {
        right: 172px;
        top: 195px !important;
    }
    .service-content-wrap .tab-content {
        top: 75%;
    }
}
